<h1>feed</h1>


<% @feeds.each do |feed| %>
<table>
<tr>
<td><%= feed.title %></td>
<td><%= feed.content %></td>
<td><%= feed.user_id %></td>
<td><%= link_to 'ブログを編集する',edit_feed_path(feed.id)  %></td>
<td><%= link_to 'ブログを削除する',feed_path(feed.id) ,method: :delete %></td>
</tr>
</table>
<% end %>
