<!DOCTYPE html>
<html>
<div class = "container">
  <header class = "header" >
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width">
    <% if logged_in? %>
    <div id = "navi">
    <ul>
      <li><%= current_user.name %></li>
      <li><%= link_to "ホーム", feeds_path%></li>
      <li><%= link_to "作成", new_feed_path %></li>
      <li><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
    </ul>
    <% else %>
    <ul>
      <li><%= link_to "サインアップ", new_user_path %></li>
      <li><%= link_to "ログイン", new_session_path %></li>
    </ul>
    </div>
    <% end %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </header>



  <body>

    <% flash.each do |key,value| %>
    <div class = "col-md-4">
    <%= content_tag(:div,value,class:"#{key}") %>
    </div>
    <% end %>

    <%= yield %>
  </body>
</div>
</html>
